<div class="row">
  <div class="col-sm-6">
    <div class="card-body table-responsive">
      <span style="font-size: 30px; margin-bottom: 10px"><strong>Dietas Agregados</strong></span>
      <hr>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Porción</th>
          <th>Precio</th>
          <th>Func</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Naranja</td>
          <td>2</td>
          <td>100gr</td>
          <td>$7.00</td>
          <td><button type="button" class="btn btn-primary" style="margin-right: 5px">Editar</button>
            <button type="button" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Lechuga</td>
          <td>3</td>
          <td>100gr</td>
          <td>$5.00</td>
          <td><button type="button" class="btn btn-primary" style="margin-right: 5px">Editar</button>
            <button type="button" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Brocoli</td>
          <td>5</td>
          <td>100gr</td>
          <td>$8.00</td>
          <td><button type="button" class="btn btn-primary" style="margin-right: 5px">Editar</button>
            <button type="button" class="btn btn-danger">Borrar</button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-6" style="margin-top: 20px; margin-bottom: 20px" >
    <span style="font-size: 30px;"><strong>Agregar Dietas</strong></span>
    <hr>
    <fieldset class="form-group">
      <label>Nombre</label>
      <input placeholder="nombre" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label>Descripción</label>
      <input  placeholder="descripción" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label>Cantidad</label>
      <input placeholder="cantidad" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label>Porción</label>
      <input placeholder="porción" class="form-control">
    </fieldset>
    <fieldset class="form-group">
      <label>Precio</label>
      <input placeholder="precio" class="form-control">
    </fieldset>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-danger btn-lg btn-block">Cancelar</button>
      </div>
      <div class="col-sm-4" >
        <button type="button" class="btn btn-primary btn-lg btn-block">Guardar</button>
      </div>
    </div>
  </div>
</div>
