$topnav-background-color: #222;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #f77604;
    text-align: center;
    color:black;




    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;

    }


}
.btnentrar:hover{
   background: #7AA802!important;
 }
.imgfondo{
  background-image: url("../../assets/images/salad1.jpg");
  width: 700px;
  height: 720px;
  background-repeat: no-repeat;
}

