open
<div class=" col-sm-12 row login-page"  >

  <div class="col-sm-4" >
    <!--<div *ngIf="enviar">
      <div class="alert alert-danger" style="margin-top: 3px" role="alert">
        <span class="sr-only">Correcto:</span>
        <img src="assets/images/cheked.png" style="margin-right: 3px">
        {{mensaje}}
      </div>
    </div>-->
  </div>
    <div class="col-sm-4 imgfondo" align="center" style="margin-top: 40px;">

      <img src="assets/images/spoon.png" width="128px" />
      <h1 style="color: #F78B2D!important;"><strong>Back-End-Dieta</strong></h1>
      <form role="form"  [formGroup]="registerForm" >
        <div class="form-content">
          <div class="form-group">
            <label for="exampleInputEmail1"><strong><h5>Correo Electronico</h5></strong></label>
            <input class="form-control" type="text" [(ngModel)]="correo" formControlName="correo"  id="exampleInputEmail1"  placeholder="{{ 'Email' | translate }}"
                   [ngClass]="{ 'is-invalid': submitted && f.correo.errors }"/>
            <div *ngIf="submitted && f.correo.errors" class="invailid-feedback">
              <div *ngIf="f.correo.errors.required">
                <div class="alert alert-danger" style="margin-top: 3px" role="alert">
                  <span class="sr-only">Error:</span>
                  <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 3px">
                  </i>El Correo Es Necesario :(
                </div>
              </div>
              <div *ngIf="f.correo.errors.email">
                <div class="alert alert-danger" style="margin-top: 3px" role="alert">
                  <span class="sr-only">Error:</span>
                  <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 3px">
                  </i>Debes de Escribir Un Correo Valido
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1"><strong><h5>Contraseña</h5></strong></label>
            <input type="password" id="exampleInputPassword1" [(ngModel)]="pass" formControlName="pass" class="form-control" placeholder="Default input" placeholder="{{ 'Password' | translate }}"
                   [ngClass]="{ 'is-invalid': submitted && f.pass.errors }"/>
            <div *ngIf="submitted && f.pass.errors" class="invailid-feedback">
              <div *ngIf="f.pass.errors.required">
                <div class="alert alert-danger" style="margin-top: 3px" role="alert">
                  <span class="sr-only">Error:</span>
                  <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 3px">
                  </i>La Contraseña es Necesaria
                </div>
              </div>
              <div *ngIf="f.pass.errors.minlength">
                <div class="alert alert-danger" style="margin-top: 3px" role="alert">
                  <span class="sr-only">Error:</span>
                  <i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 3px">
                  </i>La contraseña Debe de Tener 8 Caracteres
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7" >
        <button type="button" class="btn btnentrar   btn-block" style="background: #F78B2D; color: white;margin-top: 20px"
                 (click)="onLoggedin()"><strong>{{ 'Entrar' | translate }}</strong></button>
        &nbsp;
        </div>
      </form>
    </div>
     <div class="col-sm-4">

     </div>

    </div>

