<div  align="left" style="font-size: 30px; margin-left: 20px"><strong>Historial de Dietas</strong></div>
<hr>
<div class="card-body table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>User_id</th>
      <th>Ingre_id</th>
      <th>Diet_id</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Dieta Armada</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>09/02/2019</td>
      <td><button type="button" class="btn btn-primary" style="margin-right: 5px">Editar</button>
        <button type="button" class="btn btn-danger" style="margin-right: 5px">Borrar</button>
        <button type="button" class="btn btn-info">Ver</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ingredientes</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>01/02/2019</td>
      <td><button type="button" class="btn btn-primary" style="margin-right: 5px">Editar</button>
        <button type="button" class="btn btn-danger" style="margin-right: 5px">Borrar</button>
        <button type="button" class="btn btn-info">Ver</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Dieta Armada</td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
      <td>09/01/2019</td>
      <td><button type="button" class="btn btn-primary" style="margin-right: 5px">Editar</button>
        <button type="button" class="btn btn-danger" style="margin-right: 5px">Borrar</button>
        <button type="button" class="btn btn-info">Info</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
